.container {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 400px;
  margin: 100px auto 50px auto;
  background-color: rgba(255, 255, 255, 0.7);
}

.userAvatar {
  border-radius: 100%;
  margin: 0px 90px;
  width: 200px;
  background-color: darkturquoise;
}

.description {
  align-items: center;
  flex-direction: column;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 20px;
}

.descriptionName {
  margin: 0px;
  padding-top: 40px;
  font-size: 25px;
  font-weight: bold;
  color: rgba(7, 7, 7);
}

.descriptionTag {
  margin: 0px;
  padding: 15px 0px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(70, 70, 70, 0.7);
}

.descriptionLocation {
  margin: 0px;
  padding-bottom: 40px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(70, 70, 70, 0.7);
}

.statsList {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.containBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 33.3%;
  height: 50px;
  padding: 50px 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(190, 190, 190, 0.2);
}

.containBlock:last-of-type {
  border-right: none;
}

.statsLabel {
  font-size: 18px;
  font-weight: bold;
  color: rgba(70, 70, 70, 0.7);
  display: block;
  padding: 5px 0px;
}

.statsQuantity {
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding: 5px 0px;
  display: block;
}
