.transactionHistory {
  width: 800px;
  margin: 0px auto;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.title {
  padding: 15px;
  background-color: #01b9d3;
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  width: 33.3%;
}
.title:last-child {
  border-top-right-radius: 3px;
}
.title:first-child {
  border-top-left-radius: 3px;
}

.titleItem {
  padding: 10px;
}
.titleItem:nth-child(2n) {
  background-color: #5e5e5e1a;
}

.titleItemText {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
