.status {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: #00ff08;
}

.offline {
  composes: status;
  background-color: #ff1500;
}

.userAvatar {
  width: 60px;
  margin: 0px 20px 0px 10px;
  background-color: greenyellow;
  border-radius: 3px;
}

.userName {
  margin: 0px;
  font-size: 30px;
  font-weight: 500;
  color: rgba(0, 0, 0);
}
